{if $active}
    <div class="card" style="width: 400px;">
        <div class="card-body">
            <strong>Aktive</strong>
            <ul class="results">
            {foreach from=$aktive item=spiel name=aktive}
                {include file="cntnd_spreadsheet/template/view_team.html" spiel=$spiel}
            {/foreach}
            </ul>

            <strong>Junioren</strong>
            <ul class="results">
                {foreach from=$junioren item=spiel name=junioren}
                {include file="cntnd_spreadsheet/template/view_team.html" spiel=$spiel}
                {/foreach}
            </ul>

            <strong>Kinderfussball</strong>
            <ul class="results">
                {foreach from=$kifu item=spiel name=kifu}
                {include file="cntnd_spreadsheet/template/view_team.html" spiel=$spiel}
                {/foreach}
            </ul>
            <p><small>* = Testspiel / (C) = Cupspiel</small></p>
        </div>
    </div>
{else}
    <strong>Momentan keine Resultate</strong>
{/if}