/* cntnd_spreadsheet */
@import url('https://rsms.me/inter/inter.css');
@import '_vars.scss';

/* OUTPUT */
.content_box,
.content_box td,
.content_box th, {
	font-family: Inter !important;
}

/* FRONTEND */
.results {
	padding: 0;
}

.result {
	list-style-type: none;
	margin-bottom: 10px;

	&.result--first-team {
		font-size: 1.25em;
	}

	> span {
		display: block;
	}

	.result__team {
		font-weight: bold;
	}
}

.result__game {
	.result__game-result {
		float: right;
	}
}
