/* cntnd_booking */
@import url('https://cdn.jsdelivr.net/gh/cntnd/core_style@0.1.0/dist/core_style.css');
@import '_vars.scss';

.content_box {
	border: 1px solid silver;
}
.content_type_label {
	background: silver;
}

.hide {
	display: none !important;
}

.show {
	display: block !important;
}

/* OUTPUT */
